<div clas="row">

  <div class="col-md-4">
    <h3>Top Ten Albums</h3>
      <% @albums.each do |album| %>
          <h2><%= link_to album.title, album  %></a><small><%= album.rating  %></small></h2>
      <% end %>
    <%= link_to "View More Albums", home_path %>
  </div><!--albums col-md-4-->

  <div class="col-md-4">
    <h3>Top Ten Books</h3>
    <% @books  %>
    <%= link_to "View More Books", home_path %>
  </div><!--books col-md-4-->

  <div class="col-md-4">
    <h3>Top Ten Movies</h3>
    <% @movies  %>
    <%= link_to "View More Movies", home_path %>
  </div><!--movies col-md-4-->

</div><!--row-->
