<!DOCTYPE html>
<html>
<head>
  <title>Rate It!</title>
  <%= stylesheet_link_tag    'normalize', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag       'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="page-header">
          <h1><%= link_to "Rate It!", home_path %>
            <small>Rating the Best of Everything</small>
          </h1>
      </div><!--page header-->
    </div> <!--row-->
    </header>

    <%= yield %>

  </div><!--container-->
</body>
</html>
